body {

}
#navbar {
    background-image: url("../images/awning.png");
    background-repeat: no-repeat;
    display: grid;
    padding: 3%;
    grid-template-columns: 30% 60% 10%;
}
p {
    font-family: 'Josefin Sans';
    color: #660018;
}
h2 {
    font-family: 'Lobster Two';
    color: #660018;  
}
h3 {
    font-family: 'Lobster Two';
    color: #660018;
}
li {
    list-style-type: none;
    display: inline-block;
    font-family: 'Josefin Sans';
    color: #660018;
    padding-left: 8%;
}
.intro {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.intro-contact {
    margin: 3%;
    text-align: center;
}
.contact-info {
    margin-left: 15%;
    padding: 3%;
}
.form {
    background-color: #97C29A;
    width: 70%;
    height: 490px;
    padding: 3%;
    margin-left: 20%;
    text-align: left;
}
.name-input, .email-input {
    background-color: #fffde4;
    width: 97%;
    height: 40px;
    padding-top: 1%;
    padding-left: 3%;
    margin-bottom: 5%;
}
.message {
    background-color: #fffde4;
    width: 97%;
    height: 250px;
    padding-top: 1%;
    padding-left: 3%;
    margin-bottom: 5%;
}
.box-1 {
    color: #fffde4;
}
.send-button {
    display: inline-block;
    width: 100px;
    background-color: #660018;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
.location {
    margin-top: 3%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    text-align: center;
}
.location-hours {
    margin-left: 10%;
}
.fb-header {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}
.footer {
    background-image: url("../images/footer.png");
    background-repeat: no-repeat;
    padding: 3%;
    display: grid;
    grid-template-columns: 20% 15% 30% 15% 10%;
}